<div class="md-content md-search">
	<div class="md-search__inner">
		<form class="md-search__form" action="#">
		<input id="__search" type="text" class="md-search__input" name="search" aria-label="{{ lang.t('search.placeholder') }}" placeholder="{{ lang.t('search.placeholder') }}" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
		<label class="md-search__icon md-icon" for="__search">
			{% include ".icons/material/magnify.svg" %}
			{% include ".icons/material/arrow-left.svg" %}
		</label>
		<button type="reset" class="md-search__icon md-icon" aria-label="{{ lang.t('search.reset') }}" tabindex="-1">
			{% include ".icons/material/close.svg" %}
		</button>
		</form>
	</div>
</div>
