:root>* {
  --md-text-font:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  --md-default-fg-color:             #103050;
  --md-default-fg-color--light:      #103050b0;
  --md-default-fg-color--lighter:    #10305080;
  --md-default-fg-color--lightest:   #10305040;

  --md-primary-fg-color:             #103050;
  --md-primary-fg-color--light:      #103050bb;
  --md-primary-fg-color--dark:       #103050ff;

  --md-accent-fg-color:              #3eaf7c;
  --md-accent-fg-color--transparent: #3eaf7c20;

  --md-text-link-color:              #3eaf7c;
  --md-typeset-a-color:              #3eaf7c;

  --md-code-hl-variable-color:       #0550ae;
  --md-code-hl-comment-color:        #6e7781;
}

.highlight :is(.nv,.vc,.vg,.vi) {
  color: #24292f;
}

.highlight .nb {
  color: #8250df;
}

.highlight .nx {
  color: #953800;
}


.md-content {
  max-width: 36rem;
  margin: auto;
}

.md-header {
  border-bottom: 1px solid #eaecef;
  box-shadow: none;
}

.md-header,
.md-nav__title,
.md-nav--primary .md-nav__title[for="__drawer"] {
  background-color: var(--md-default-bg-color, #fff);
  color: var(--md-default-fg-color, #103050);
}

.md-header nav {
  padding: 0.5rem;
}

.md-header__button.md-logo {
  margin: 0 1rem;
  padding: 0;
}

.md-header__button.md-logo :-webkit-any(img,svg) {
  height: 30px;
  width: auto;
}

.md-nav__title .md-nav__button img {
  margin: auto;
}

.md-search {
  margin: 0 0 0 auto;
  padding: 0;
}

.md-search__inner, .md-search__scrollwrap {
  width: 100% !important;
}

.md-search__form {
  background-color: transparent !important;
  border-radius: 1rem !important;
  height: auto !important;
}

@media screen and (max-width: 59.9375em) {
  .md-search__form {
    padding: 0.4rem;
    margin: 0.5rem;
  }
}

.md-search__icon {
  color: var(--md-default-fg-color--light, #103050b0) !important;
}

.md-search__input {
  background-color: #fff;
  border: 1px solid var(--md-default-fg-color--lightest, #10305040);
  border-radius: 1rem;
  height: 1.6rem;
  color: inherit;
  width: 100%;
  z-index: 2;
  font-size: .66rem;
  padding: 0 2.2rem;
  text-overflow: ellipsis;
  transition: color 250ms, background-color 250ms;
}

.md-search__input::placeholder {
  color: var(--md-default-fg-color--light, #103050b0);
}

.algolia-autocomplete, .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}

.algolia-autocomplete .aa-hint {
  color: #f0f0f8;
}

.algolia-autocomplete .aa-dropdown-menu {
  background-color: #f8f8fc;
  width: 100%;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  border-bottom: 1px solid #e8e8f0;
  padding: 0.75rem;
  font-size: .8rem;
  cursor: pointer;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion .topic {
  font-weight: bold;
  margin-bottom: 1em;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion .title:before {
  content: "# ";
  color: #ba9a5a;
  color: var(--md-accent-fg-color, #ba9a5a);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion .content {
  font-family: "Noto Sans",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  font-size: .66rem;
  margin-top: 1em;
  padding: 1em;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #f0f0f8;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-style: normal;
  background-color: #ba9a5a20;
  background-color: var(--md-accent-fg-color--transparent, #ba9a5a20);
}

.algolia-autocomplete aa-dropdown-menu {
  height: calc(100vh - 2rem);
}

.algolia-autocomplete .aa-dataset-1 {
  height: calc(100vh - 2rem);
  overflow-y: scroll;
}

.algolia-autocomplete .search-result-empty {
  padding: 1rem;
}

.algolia-autocomplete .search-result-empty .empty-text {
  font-size: 0.75rem;
}

.algolia-autocomplete .search-result-empty em {
  font-weight: bold;
}

.md-header__source {
  position: relative;
}

label.version-select {
  display: none;
}

select.md-header-nav__button {
  width: 90%;
  border-radius: 1rem;
  border: 1px solid var(--md-default-fg-color--lightest, #10305040);
  color: var(--md-default-fg-color, #103050);
  background-color: #fff;
  font-size: .66rem;
  padding: 0 0.5rem;
  height: 1.6rem;
  appearance: none;
}

select.md-header-nav__button:focus {
  outline: none;
}

@media screen and (max-width: 59.9375em) {
  .md-nav__source {
    background-color: var(--md-primary-bg-color);
    color: var(--md-primary-fg-color--dark);
    display: block;
    padding: 0 0.2rem;
    text-align: center;
  }
}

.md-main__inner {
  margin-top: 0;
}

.md-grid {
  max-width: inherit;
}

.md-sidebar {
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0;
  height: 100%;
  width: max(18%, 12.1rem);
}

.md-sidebar--primary {
  border-right: 1px solid #eaecef;
}

.md-sidebar__scrollwrap {
  scrollbar-color: var(--md-default-fg-color--lightest, #10305040);
  padding: 0 1rem;
  margin: 0;
}

.md-sidebar__scrollwrap:hover {
  scrollbar-color: var(--md-default-fg-color--light, #103050b0);
}

.md-sidebar__inner {
  padding-top: 2rem;
}

.md-nav {
  font-size: .65rem;
}

.md-nav__title {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  text-align: center;
}

.md-nav--secondary .md-nav__title {
  text-align: left;
}

.md-nav__list {
  margin-top: 1rem;
}

.md-nav__list .md-nav__list {
  margin-top: 0;
}

.md-nav--primary .md-nav__title~.md-nav__list {
  box-shadow: none !important;
}

.md-nav--primary .md-nav__item {
  border: none
}

.md-nav--primary > .md-nav__list > .md-nav__item:nth-of-type(3),
.md-nav--primary > .md-nav__list > .md-nav__item:nth-of-type(5),
.md-nav--primary > .md-nav__list > .md-nav__item:nth-of-type(11) {
  padding-bottom: 0.75rem;
}

.md-nav--primary > .md-nav__list > .md-nav__item:nth-of-type(4),
.md-nav--primary > .md-nav__list > .md-nav__item:nth-of-type(6),
.md-nav--primary > .md-nav__list > .md-nav__item:nth-of-type(12) {
  padding-top: 0.75rem;
  border-top: 1px solid #10305040;
  border-top-color: var(--md-default-fg-color--lightest, #10305040);
}

.md-nav--secondary .md-nav__item {
  padding: 0.25rem 0;
}

.md-nav__list .md-nav__list .md-nav__item {
  color: var(--md-default-fg-color--light, #103050b0);
  padding-bottom: 0;
}

.md-nav__link {
  padding: 0.33rem 0.75rem !important;
  margin: 0;
}

.md-nav__item--nested>.md-nav__link {
  font-size: .7rem;
  font-weight: 600;
}

.md-nav__list .md-nav__list .md-nav__link {
  font-weight: normal;
}

.md-typeset h1, .md-typeset h2 {
  color: var(--md-typeset-color);
  font-weight: 600;
}

.md-typeset h2 {
  margin: 1.6em 0 0.64em;
  font-size: 1.25rem;
  padding-bottom: 0.3rem;
  font-weight: 600;
  line-height: 1.25;
  border-bottom: 1px solid #eaecef;
}

.md-typeset dt {
  font-style: italic;
}

.md-typeset dd {
  margin: 0 0 0.5rem 1rem;
}

.md-clipboard {
  top: 1px;
  right: 1px;
  height: 2em;
  width: 2.3em;
  padding: .4rem;
  padding-bottom: 0.1rem;
  background-color: var(--md-code-bg-color);
}


.partnering {
  padding: 5rem 0;
  max-width: 60rem;
  margin: auto;
}

.partnering-box {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem;
  padding-top: 1.5rem;
  box-shadow: 4px 16px 20px 4px #e6eaee;
}

.partnering .header {
  flex: 0 0 100%;
  max-width: 100%;
  font-size: 250%;
}

.partnering .intro {
  font-size: 175%;
}

.partnering .header,
.partnering .intro {
  text-align: left;
}

@media (min-width: 768px) {
  .partnering .intro {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .partnering .button {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

.btn, .btn:link, .btn:visited {
  display: block;
  font-weight: bold;
  margin: 2em auto;
  padding: 0.75em;
  min-width: 16em;
  max-width: 20em;
  width: 100%;
  background-color: #103050;
  border: solid 1px #103050;
  border-radius: 0;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  line-height: 1.5;
  font-size: 150%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  text-decoration: none;
  background-color: transparent;
  border: solid 1px #103050;
  color: #103050;
}

.md-footer-meta {
  background-color: #cad2d9;
  border-top: 1px solid #ba9a5a;
  padding-bottom: 2rem;
}

.md-footer-meta h2 {
  font-weight: bold;
  color: #fff;
}

html .md-footer-meta.md-typeset a {
  color: #103050;
}

html .md-footer-meta.md-typeset ul,
html .md-footer-meta.md-typeset li {
  list-style: none;
  margin-left: 0;
}

.md-footer-integration, .md-footer-developers, .md-footer-social {
  margin: 0 1rem;
  padding: 0;
}

html .md-footer-meta.md-typeset a:is(:focus,:hover) {
  color: var(--md-footer-fg-color);
  fill: var(--md-footer-fg-color);
}

.md-footer .logo {
  width: 10rem;
  padding: 2rem 0;
}

.md-footer-social__link {
  padding: 0.5rem 0;
  height: initial;
  display: block;
  width: auto;
  text-align: left;
}

.md-footer-social__link svg {
  max-height: initial;
  width: 2rem;
}

.md-footer-social__link span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  height: 2rem;
}

.integrations {
  text-align: center;
}

.integration {
  display: inline-block;
  text-align: center;
  min-width: 10rem;
  width: 32%;
}

.integration .logo {
  height: 4rem;
}

.integration .name {
  display: block;
  font-weight: bold;
  padding: 1rem 0;
  color: #103050;
  color: var(--md-primary-fg-color, #103050);
}

.disqus {
  margin: 1.2rem;
  margin-top: 3rem;
}